
{% extends 'proyectos/b_proyectos.html' %}

{% block title %} Proyectos - API REST {% endblock %}

{% block content %}

<section class="bg-light p-4">
    <div class="container col-xxl-8 px-4 py-5">
        <h1>API REST para la gestión de libros</h1>

        <p >En este proyecto, desarrollé una API REST que permite la gestión eficiente de una colección de libros. La API se diseñó
            teniendo en cuenta la interacción con aplicaciones front-end, sistemas de gestión de bases datos y usuarios finales. Proporciona 
            funcionalidades para crear, leer, actualizar y eliminar resgistros de libros, lo que lo convierte en una herramienta valiosa para 
            bibliotecas, librerías en linea y entusuastas de la lectura.
        </p>
    </div>

</section>


{% endblock %}