<section class="bg-light p-4" id="contacto">
    <div class="container">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h2 class="display-4 fw-bold 1h-1 mb-3" fw-bold 1h-1 mb-3>¡Hablemos!</h2>

                <p class="col-lg-10 fs-4">
                    Si deseas iniciar una conversación o tienes alguna consulta en mente, no dudes en ponerte en contacto conmigo. 
                    Puedes hacerlo de manera conveniente a través del formulario en línea o enviándome un correo electrónico.
                </p>
                <br>
                <p class="col-lg-10 fs-4">
                    Tu opinión es fundamental para mí, y estoy ansioso por escuchar lo que tienes que decir. Gracias por tomarte el 
                    tiempo de visitar mi sitio web y considerar trabajar juntos en futuras oportunidades."
                </p>

            </div>
            <div class="col-md-10 mx-auto col-lg-6">
                <form action="#" class="p-4 md-5 border rounded-3 bg-white" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 100%">Enviar</button>
                </form>
            </div>


        </div>
    </div>

</section>