<section class="container p-5" id="portafolio">
    <h2 class="text-center">Mis Proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/1.jpg')}}" alt="" 
                class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Rest-API</h5>
                    <p class="card-text">Proyecto que consiste en una Restful API</p>
                    <a href="#" class="nav-link text-primary">Link aquí</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/2.jpg')}}" alt="" 
                class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Rest-API</h5>
                    <p class="card-text">Proyecto que consiste en una Restful API</p>
                    <a href="#" class="nav-link text-primary">Link aquí</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/3.jpg')}}" alt="" 
                class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Rest-API</h5>
                    <p class="card-text">Proyecto que consiste en una Restful API</p>
                    <a href="#" class="nav-link text-primary">Link aquí</a>
                </div>
            </div>
        </div>


    </div>
</section>